Source: fb303
Section: unknown
Priority: extra
Maintainer: Platform Engineering <platform-engg@inmobi.com>
Homepage: <insert the upstream URL, if relevant>

Package: inmobi-techplatform-libfb303
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fb303 module, installs in /usr
 fb303 is the shared root of all thrift services.
 It provides a standard interface to monitoring, dynamic options
 and configuration, uptime reports, activity, etc
